*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

input, textarea{
    border: 1px solid black;
}

img.leia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 90%;
}

h1, h2{
    color: lime;
    font-family: Helvetica;
    text-align: center;
}

h1{
    font-size: 50px;
}

p, blockquote, a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form{
    margin-top: 100px;
}

.card-title, .card-text{
    text-align: center;
}
.card{
    margin: 5px;
}

div.hemsidalink{
    position: sticky;
    top: 0;
    height: 60px;
    z-index: 1;
}